<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>DailyBagel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>dailybagel</servlet-name>
        <servlet-class>
             org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>dispatchOptionsRequest</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dailybagel</servlet-name>
    	    <url-pattern>/getAllUsers</url-pattern>
			<url-pattern>/getUserPage</url-pattern>
			<url-pattern>/getUser</url-pattern>
			<url-pattern>/addUser</url-pattern>
			<url-pattern>/deleteUser</url-pattern>
			<url-pattern>/updateUser</url-pattern>
			<url-pattern>/updateUserPassword</url-pattern>
			<url-pattern>/updateUserRole</url-pattern>
			
			
    	    <url-pattern>/getAllArticles</url-pattern>
			<url-pattern>/getArticlePage</url-pattern>
			<url-pattern>/getFeaturedArticles</url-pattern>
			<url-pattern>/getArticle</url-pattern>
			<url-pattern>/addArticle</url-pattern>
			<url-pattern>/deleteArticle</url-pattern>
			<url-pattern>/updateArticle</url-pattern>
			<url-pattern>/updateArticleViews</url-pattern>
			<url-pattern>/updateAritcleAuthor</url-pattern>
			
			
			<url-pattern>/logIn</url-pattern>
			<url-pattern>isLoggedIn/</url-pattern>
    </servlet-mapping>  
</web-app>